*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  scroll-behavior: smooth;
  font-size: 62.5%; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

::selection {
  background-color: #b30009;
  color: #000; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

@font-face {
  font-family: 'futuraregular';
  src: url("../fonts/futurao-webfont.woff2") format("woff2"), url("../fonts/futurao-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'futura_originalregular';
  src: url("../fonts/futurab-webfont.woff2") format("woff2"), url("../fonts/futurab-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.heading-primary {
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-bottom: 1rem;
  background-image: linear-gradient(to left bottom, #1b1818, #0f090a);
  color: #b30009; }
  .heading-primary--main {
    display: block;
    font-weight: 400;
    font-size: 6rem;
    letter-spacing: 3.5rem;
    padding-left: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 0.8s;
    animation-timing-function: ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 5rem;
        letter-spacing: 1rem; } }
  .heading-primary--sub {
    display: block;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 1.75rem;
    padding-left: 1.75rem;
    animation: moveInRight 1s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: 0.5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #fb000d, #3b0003);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  padding-bottom: 7rem;
  transition: all 0.2s; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: scale(1.07);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 10rem !important; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 3rem;
  display: inline-block;
  border-radius: 1rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:focus, .btn:active {
  outline: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.scroll-top-btn {
  display: none;
  position: fixed;
  bottom: 5rem;
  right: 3rem;
  z-index: 100;
  border: none;
  outline: none;
  background-color: #b30009;
  color: #fff;
  cursor: pointer;
  padding: 1.5rem 1.8rem;
  border-radius: 1rem;
  font-size: 1.8rem; }

/* SLIDER */
.slider {
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden; }

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* THIS creates the animation! */
  transition: transform 1s; }

.slide > img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  object-fit: cover; }

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer; }

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%); }

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%); }

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex; }
  .dots__dot {
    border: none;
    background-color: #b9b9b9;
    opacity: 0.7;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-right: 1.75rem;
    cursor: pointer;
    transition: all 0.5s;
    /* Only necessary when overlying images */
    /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */ }
    .dots__dot:last-child {
      margin: 0; }
    .dots__dot--active {
      /* background-color: #fff; */
      background-color: #888;
      opacity: 1; }

.footer {
  color: #f7f7f7;
  background-color: #1b1818;
  padding: 10rem 0;
  font-size: 1.6rem; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background-image: linear-gradient(to right top, rgba(27, 24, 24, 0.8), rgba(15, 9, 10, 0.8));
  background-color: black; }
  .header__neon {
    color: #fff;
    font-size: 1.6rem;
    width: 40%;
    height: 2rem;
    border-radius: 1rem;
    background-color: #fff;
    margin-bottom: 10rem;
    box-shadow: 0 0 0.5rem #fb000d, 0 0 2.5rem #fb000d, 0 0 5rem #fb000d, 0 0 10rem #fb000d; }

.navigation {
  align-self: flex-end;
  padding: 1rem 3rem; }
  @media only screen and (max-width: 75em) {
    .navigation {
      align-self: auto; } }
  @media only screen and (max-width: 37.5em) {
    .navigation {
      align-self: flex-end;
      padding: 1rem; } }
  .navigation__list {
    list-style: none;
    text-align: center;
    display: flex; }
    @media only screen and (max-width: 37.5em) {
      .navigation__list {
        flex-direction: column;
        align-items: flex-end; } }
  .navigation__link:link, .navigation__link:visited {
    font-family: 'futura_originalregular';
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 2rem;
    background-image: linear-gradient(to left bottom, #fb000d, #3b0003);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: all 0.4s; }
  .navigation__link:hover, .navigation__link:active {
    color: #fb000d;
    transform: translateY(0.5rem); }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .section-about {
      padding: 10rem 0; } }

.section-projects {
  background-color: #1b1818;
  padding: 10rem 0 20rem 0;
  text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .section-projects {
      padding: 10rem 0; } }

.section-cv {
  background-color: #f7f7f7;
  padding: 25rem 0;
  text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .section-cv {
      padding: 10rem 0; } }
