// COLORS
$color-primary: #b30009;
$color-primary-light: #fb000d;
$color-primary-dark: #3b0003;

$color-secondary-light: #1b1818;
$color-secondary: #140e0f;
$color-secondary-dark: #0f090a;

$color-tertiary-light: #62a3e4;
$color-tertiary-dark: #5643fa;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-gray-dark-1: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID/CONTAINER
$container-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// BORDER
$border-radius-small: 3px;
$border-radius-medium: 1rem;
$border-radius-big: 10rem;
