.navigation {
	align-self: flex-end;
	padding: 1rem 3rem;

	@include respond(tab-land) {
		align-self: auto;
	}

	@include respond(phone) {
		align-self: flex-end;
		padding: 1rem;
	}

	&__list {
		list-style: none;
		text-align: center;
		display: flex;

		@include respond(phone) {
			flex-direction: column;
			align-items: flex-end;
		}
	}

	&__item {
		// margin: 1rem;
	}

	&__link {
		&:link,
		&:visited {
			font-family: 'futura_originalregular';
			display: inline-block;
			font-size: 3rem;
			font-weight: 300;
			text-decoration: none;
			text-transform: uppercase;
			padding: 1rem 2rem;

			background-image: linear-gradient(
				to left bottom,
				$color-primary-light,
				$color-primary-dark
			);
			-webkit-background-clip: text;
			background-clip: text;
			color: transparent;

			// color: $color-secondary-light;

			transition: all 0.4s;
		}

		&:hover,
		&:active {
			// color: $color-black;
			color: $color-primary-light;
			transform: translateY(0.5rem);
		}
	}

	& li:nth-of-type(2) a {
		animation-name: moveDownAndUp;
		animation-duration: 1s;
		animation-delay: 1s;
		animation-timing-function: ease-in-out;
	}
}
