@import '../../../sass/main';

.section-about {
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 100%;
	text-align: center;
	background-image: linear-gradient(
		to right top,
		$color-gray-light-3,
		$color-gray-light-1
	);

	&__content {
		position: relative;
	}
}

.profile {
	max-width: 114rem;
	margin: auto;
	margin-bottom: 5rem;
	border-radius: $border-radius-medium;
	display: flex;
	overflow: hidden;

	@include respond('phone') {
		margin-bottom: 0rem;
		flex-direction: column;
	}

	&__description {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 5rem;
		background-color: $color-black;
	}
}

.profile-picture {
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0.8;
	background-image: linear-gradient(
		to right top,
		$color-gray-light-3,
		$color-gray-light-1
	);
	padding: 6rem;

	@include respond('phone') {
		padding: 4rem;
	}

	&__img {
		width: 30rem;
		height: 45rem;
		border-radius: $border-radius-medium;
		box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
		user-select: none;

		@include respond('phone') {
			width: 25rem;
			height: 42rem;
		}
	}
}
