@import '../../../sass/main';

.section-about {
	margin: auto;
	// display: flex;
	// flex-direction: column;
	background-color: $color-gray-light-1;
	width: 100%;
	max-width: 114rem;

	text-align: center;
}
