body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	line-height: 1.7;
	color: $color-gray-dark-2;
}

@font-face {
	font-family: 'futuraregular';
	src: url('../../../fonts/futurao-webfont.woff2') format('woff2'),
		url('../../../fonts/futurao-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'futura_originalregular';
	src: url('../../../fonts/futurab-webfont.woff2') format('woff2'),
		url('../../../fonts/futurab-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.heading-primary {
	text-align: center;
	font-size: 4rem;
	font-weight: 700;
	text-transform: uppercase;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	margin-bottom: 1rem;
	color: $color-gray-light-2;
	background-image: linear-gradient(
		to left bottom,
		$color-secondary-light,
		$color-secondary-dark
	);

	&--main {
		display: block;
		font-size: 5rem;
		letter-spacing: 1.5rem;
		padding-left: 1.5rem;
		animation: moveInLeft 0.8s ease-out;

		@include respond(phone) {
			letter-spacing: 1rem;
		}
	}

	&--sub {
		display: block;
		font-size: 2rem;
		letter-spacing: 1.75rem;
		padding-left: 1.75rem;
		animation: moveInRight 1s ease-out;

		@include respond(phone) {
			letter-spacing: 0.5rem;
		}
	}
}

.paragraph {
	font-size: $default-font-size;
	&:not(:last-child) {
		margin-bottom: 3rem;
	}
}

.colorful-text {
	text-transform: none;
	letter-spacing: 0;
	background-image: linear-gradient(
		to left bottom,
		$color-primary-light,
		$color-primary-dark
	);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

.inline-link {
	text-decoration: none;
	color: $color-black;
	position: relative;
	padding-bottom: 1rem;

	&:hover {
		color: $color-primary-light;
	}

	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		right: 0;
		width: 0%;
		height: 100%;
		border-bottom: 2px solid $color-primary-light;
		transition: width 0.3s ease;
	}

	&:hover:after {
		left: 0;
		width: 100%;
	}
}
