.skillbar {
	display: flex;
	align-items: center;
	padding: 0 2rem;
	width: 35rem;
	// margin: auto;

	&__skill {
		text-align: left;
		// text-align: right;
		text-transform: uppercase;
		font-size: 2rem;
		flex: 0 0 30%;
	}

	&__container {
		width: 100%;
		background-color: $color-gray-dark-2;
		border-radius: 10rem;
	}

	&__progress {
		padding: 1rem 0;
		background-image: linear-gradient(
			to right,
			$color-primary-light,
			$color-primary-dark
		);
		background-color: $color-primary;
		color: white;
		border-radius: 10rem;

		&--beginner {
			width: 20%;
		}

		&--intermediate {
			width: 40%;
		}

		&--proficient {
			width: 60%;
		}

		&--expert {
			width: 80%;
		}

		&--god {
			width: 100%;
		}
	}
}
