/* SLIDER */
.slider {
	position: relative;
	max-width: 150rem;
	height: 50rem;
	margin: 0 auto;
	padding: 0 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	user-select: none;

	&__box {
		flex: 1;
		position: relative;
		max-width: 100rem;
		height: 50rem;
		overflow: hidden;
		margin: 0 5rem;
		border-radius: $border-radius-medium;

		@include respond('tab-land') {
			margin: 0 2rem;
		}

		@include respond('tab-port') {
			margin-bottom: 5rem;
			flex: 0 0 100%;
			order: -1;
		}
	}

	&__btn {
		border: none;
		background-color: $color-secondary-dark;
		color: $color-primary;
		font-family: inherit;
		border-radius: 50%;
		height: 5.5rem;
		width: 5.5rem;
		font-size: 3.25rem;
		cursor: pointer;
		outline: none;
		transition: all 0.2s;

		&--left {
			@include respond('tab-port') {
				margin-right: 10rem;
			}

			@include respond('phone') {
				margin-right: 5rem;
			}
		}

		&:hover {
			color: $color-primary-light;
		}

		&--left:hover {
			transform: translateX(-0.5rem);
		}

		&--right:hover {
			transform: translateX(0.5rem);
		}
	}
}

.slide {
	position: absolute;
	top: 0;
	width: 100%;
	height: 50rem;

	display: flex;
	align-items: center;
	justify-content: center;

	transition: transform 1s;

	&__img {
		/* Only for images that have different size than slide */
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: all 0.4s;
	}

	&__caption {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, 0%);
		color: $color-black;
		background-color: $color-primary;
		padding: 1.5rem;
		width: 100%;

		text-transform: uppercase;
		font-size: 3rem;
		text-align: center;
		transition: all 0.5s;
		opacity: 0;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}

	&:hover &__img {
		transform: scale(1.1);
		filter: brightness(40%);
	}

	&:hover &__caption {
		opacity: 1;
		transform: translate(-50%, -50%);
	}
}

.dots {
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translateX(-50%);
	display: flex;

	&__dot {
		border: none;
		background-color: #b9b9b9;
		background-color: $color-primary-dark;
		opacity: 0.7;
		height: 1rem;
		width: 1rem;
		border-radius: 50%;
		margin-right: 1.75rem;
		cursor: pointer;
		transition: all 0.4s;

		/* Only necessary when overlying images */
		/* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */

		&:last-child {
			margin: 0;
		}

		&--active {
			/* background-color: #fff; */
			background-color: $color-primary;
			opacity: 1;
		}
	}
}
