@import '../../sass/main';

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;

	color: $color-gray-light-1;
	background-color: $color-secondary-light;
	font-size: $default-font-size;

	&__info {
		padding: 5rem 0;
		text-align: center;
	}
}
