@import '../../sass/main';

.listing__wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.listing {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	font-size: $default-font-size;
	list-style: inside;

	@include respond(phone) {
		flex: initial;
		flex-direction: column;
		align-items: flex-start;
	}

	& li {
		&:hover {
			color: $color-black;
		}
	}

	&--double {
		padding: 3rem 5rem;
		border-top: $line;
		border-bottom: $line;

		@include respond(phone) {
			padding: 3rem 3rem;
		}

		& li {
			margin-bottom: 0.7rem;
			flex: 0 0 50%;
			padding-right: 2rem;
			text-align: left;

			@include respond(phone) {
				flex: 0 0 100%;
				padding: 0;
			}
		}
	}

	&--horizontal {
		& li {
			flex: 1 0 auto;
			text-align: center;
		}
	}

	&--single {
		flex: initial;
		flex-direction: column;
		align-items: flex-start;
		font-size: 2rem;

		list-style: none;

		& li:not(:last-of-type) {
			margin-bottom: 2rem;
		}
	}
}
