body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	line-height: 1.7;
	color: $color-gray-dark-2;
}

@font-face {
	font-family: 'futuraregular';
	src: url('../fonts/futurao-webfont.woff2') format('woff2'),
		url('../fonts/futurao-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'futura_originalregular';
	src: url('../fonts/futurab-webfont.woff2') format('woff2'),
		url('../fonts/futurab-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.heading-primary {
	text-align: center;
	font-size: 4rem;
	font-weight: 700;
	text-transform: uppercase;

	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	margin-bottom: 1rem;

	color: $color-gray-light-2;
	background-image: linear-gradient(
		to left bottom,
		$color-secondary-light,
		$color-secondary-dark
	);

	&--main {
		display: block;
		font-size: 5rem;
		letter-spacing: 1.5rem;
		padding-left: 1.5rem;
		animation: moveInLeft 0.8s ease-out;

		@include respond(phone) {
			letter-spacing: 1rem;
		}
	}

	&--sub {
		display: block;
		font-size: 2rem;
		letter-spacing: 1.75rem;
		padding-left: 1.75rem;
		animation: moveInRight 1s ease-out;

		@include respond(phone) {
			letter-spacing: 0.5rem;
		}
	}
}

.heading-secondary {
	font-size: 3.5rem;
	text-transform: uppercase;
	font-weight: 700;
	background-image: linear-gradient(
		to right,
		$color-primary-light,
		$color-primary-dark
	);
	display: inline-block;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	letter-spacing: 2px;

	padding-top: 10rem;
	padding-bottom: 7rem;
	transition: all 0.2s;

	@include respond(tab-port) {
		font-size: 3rem;
		padding-top: 7rem;
		padding-bottom: 5rem;
	}

	@include respond(phone) {
		font-size: 2.5rem;
	}

	&:hover {
		transform: scale(1.07);
		text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
	}
}

.heading-tertiary {
	font-size: $default-font-size;
	text-transform: uppercase;
	font-weight: 700;

	font-size: 2.5rem;

	background-image: linear-gradient(
		to left,
		$color-primary-light,
		$color-primary-dark
	);
	display: inline-block;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	letter-spacing: 2px;

	padding-bottom: 7rem;
	transition: all 0.2s;

	@include respond(tab-port) {
		font-size: 2rem;
		padding-top: 7rem;
		padding-bottom: 5rem;
	}

	@include respond(phone) {
		font-size: 1.5rem;
	}

	&:hover {
		// transform: scale(1.07);
		// transform: scaleX(-1);
		text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
	}
}

.paragraph {
	font-size: $default-font-size;
	&:not(:last-child) {
		margin-bottom: 3rem;
	}
}

.colorful-text {
	text-transform: none;
	letter-spacing: 0;

	background-image: linear-gradient(
		to left bottom,
		$color-primary-light,
		$color-primary-dark
	);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}
