@import '../../sass/main';

.skillbar {
	display: flex;
	align-items: center;
	padding: 0 2rem;
	width: 39rem;
	margin-bottom: 0.4rem;

	@include respond(phone) {
		padding: 0;
	}

	&:hover &__skill {
		color: $color-black;
	}

	&__skill {
		text-align: left;
		text-transform: uppercase;
		font-size: 2rem;
		flex: 0 0 44%;
		word-break: break-word;
	}

	&__container {
		width: 100%;
		background-color: $color-gray-dark-2;
		border-radius: $border-radius-big;
	}

	&__progress {
		padding: 1rem 0;
		background-image: linear-gradient(
			to right,
			$color-primary-light,
			$color-primary-dark
		);
		background-color: $color-primary;
		border-radius: $border-radius-big;
		width: 0;

		&--beginner {
			width: 25%;
		}

		&--intermediate {
			width: 50%;
		}

		&--proficient {
			width: 75%;
		}

		&--expert {
			width: 100%;
		}
	}
}
