.section-about {
	margin: auto;
	// display: flex;
	// flex-direction: column;
	background-color: $color-gray-light-1;
	width: 100%;
	max-width: 114rem;

	text-align: center;
}

.section-projects {
	background-color: $color-secondary-light;
	padding-bottom: 20rem;
	text-align: center;

	@include respond(tab-port) {
		padding-bottom: 15rem;
	}
}

.section-cv {
	overflow: hidden;
	position: relative;

	margin: auto;
	// display: flex;
	// flex-direction: column;
	width: 100%;
	max-width: 114rem;

	text-align: center;

	&__img {
		opacity: 0.3;
		position: absolute;
		left: 0;
		top: 0;
		object-fit: cover;
		width: 100%;
		height: auto;
		user-select: none;

		@include respond(phone) {
			width: auto;
			height: 100%;
		}
	}

	&__content {
		position: relative;
	}
}
