.section-about {
	background-color: $color-gray-light-1;
	text-align: center;
}

.section-projects {
	background-color: $color-secondary-light;
	padding-bottom: 20rem;
	text-align: center;

	@include respond(tab-port) {
		padding-bottom: 10rem;
	}
}

.section-cv {
	background-color: $color-gray-light-1;
	text-align: center;
}
