@import '../../../sass/main';

.section-cv {
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 100%;
	max-width: 114rem;
	text-align: center;

	&__content {
		position: relative;

		& section:not(:first-of-type) {
			margin-top: 10rem;

			@include respond(tab-port) {
				margin-top: 7rem;
			}
		}
	}
}

.section-certs {
	font-weight: 700;
}
