@import '../../sass/main';

.flex-container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 0 10rem;

	@include respond(tab-port) {
		padding: 0 5rem;
	}
}
